*{
    margin: 0;
    padding: 0;
}

/* Navbar  */

header{
    position:sticky;
    top:0;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#1b5e20;
}

nav a{
    text-decoration:none;
    margin:0 15px;
    font-weight:600;
    color:black;
}

nav a:hover{
    color:#42d411;
}

.login-btn{
    background:#42d411;
    border:none;
    padding:8px 18px;
    border-radius:20px;
    font-weight:bold;
    cursor:pointer;
}

/* Section-1  */

.hero{
    position: relative;
    z-index: 1;
    height: 120vh;
    width: 99vw;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(28, 1fr);
    background-color: #f5f7f5;
}
#box1{
    grid-column: 2/20;
    grid-row: 2/5;
    background-color: #ebfae6;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid #41d111;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}
#innerbox1{
    grid-row: 1;
    font-size: 25px;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 20px;
}
#innerbox2{
    grid-row: 2/4;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
#innerbox3{
    grid-row: 1/3;
    display: flex;
    justify-content: end;
    margin-top: 5px;
    margin-right: 50px;
}

#box2{
    grid-column: 2/13;
    grid-row: 6/10;
    background-color: #ebfae6;
    border: 1px solid #41d111;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    box-shadow:0 2px 10px rgba(19, 19, 19, 0.05);
}
#innerbox4{
    grid-row: 2/3; 
    display: flex;
    align-items: center;
    margin-left: 20px;
}
#innerbox5{
    grid-row: 1/3;
    font-size: 18px; 
    margin-left: 20px;
}
#innerbox6{
    grid-row: 2/3;
    font-size: 18px; 
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}

#box3{
    grid-column: 14/20;
    grid-row: 6/10;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
#innerbox8{
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
#innerbox9{
    grid-row: 2/3;
    margin-left: 15px;
}
#progress{
   
    accent-color: green;
    width: 80%;
    height: 30%;
}
#innerbox10{
    grid-row: 3/4;
    margin-left: 15px;
}

#box4{
    grid-row: 11/19;
    grid-column: 2/13;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
#innerbox11{
    grid-row: 1/2;
    grid-column: 1/3;
    margin-left: 25px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
#innerbox12{
    grid-row: 1/2;
    grid-column: 4/5;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#select-crop{
    font-size: 13px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: aliceblue;
    border: 1px solid gray;
}
#select-city{
    font-size: 13px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    background-color: aliceblue;
    border: 1px solid gray;
}
#innerbox13{
    grid-row: 2/8;
    grid-column: 1/5;
}
table {
    border-collapse: collapse;
    border-spacing: 15px 5px; 
    width: 90%;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}
td, th {
    border: 1px solid black;
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#box5{
    grid-row: 11/22;
    grid-column: 14/20;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}
#innerbox14{
    grid-row: 1/2;
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
#innerbox15{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background-color: #f7fafc;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#smallbox1{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
#smallbox2{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    margin-right: 15px;
    justify-content: end;
}
#smallbox3{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
#smallbox4{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    margin-right: 12px;
    justify-content: end;
}
#smallbox5{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
#smallbox6{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    margin-right: 12px;
    justify-content: end;
}

#innerbox16{
    grid-row: 3/4;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background-color: #f7fafc;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#smallbox7{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
#smallbox8{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    margin-right: 15px;
    justify-content: end;
}
#smallbox9{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
#smallbox10{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    margin-right: 12px;
    justify-content: end;
}
#smallbox11{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
#smallbox12{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    margin-right: 12px;
    justify-content: end;
}

#innerbox17{
    grid-row: 4/5;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background-color: #f7fafc;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#smallbox13{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
#smallbox14{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    margin-right: 15px;
    justify-content: end;
}
#smallbox15{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
#smallbox16{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    margin-right: 12px;
    justify-content: end;
}
#smallbox17{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
#smallbox18{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    margin-right: 12px;
    justify-content: end;
}
#innerbox18{
    grid-row: 5/6;
    border: 2px solid #41d111;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 1px 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box6{
    grid-row: 23/27;
    grid-column: 14/20;
    background-color: #41d111;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
#innerbox19{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
#innerbox20{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}
#innerbox21{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* footer  */

#foot{
    width: 100vw;
    height: 10vh;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}
#logo-name{
    grid-column: 2/5;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
#privacy{
    grid-column: 7/9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
}
#service{
    grid-column: 9/11;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
}
#contact{
    grid-column: 11/13;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
}
#copyright{
    grid-column: 14/20;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
}
